section.cyclotourism {
    background-image: url(/static/img/cyclotourism_HD.jpg);
}

section.boom {
    background-image: url(/static/img/boom_by_night_HD.jpg);
}

section.boom_and_bike {
    background-image: url(/static/img/boom_bikers_HD.jpg);
}

section.boom,
section.cyclotourism,
section.boom_and_bike {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    display: table;
}


@media (orientation:portrait) {
    section.boom,
    section.cyclotourism,
    section.boom_and_bike {
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -khtml-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;

        background-position: 50% 0;
    }
}

section.boom_and_bike article,
section.cyclotourism article,
section.boom article {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display:table-cell;
    vertical-align: middle;
}
