{% extends "info/base.html" %}
{% load staticfiles %}

{% block head %}
    
{% endblock %}

{% block content %}
    <!-- menu -->
    <div class="details" id="cyclotourism">
        <div class="details_header">
            <a class="cyclotourism" href="#cyclotourism">
                Cyclotourisme
            </a>
        </div>
        <div class="details_content_cyclotourism">
            Plus de détails sur le cyclotourisme...
        </div>
    </div>

    <div class="details" id="boom">
        <div class="details_header">
            <a href="#boom" class="boom">
                Boom Festival
            </a>
        </div>
        <div class="details_content_boom">
            Des infos qui donnent envie d'aller au Boom!
        </div>
    </div>
    
    <div class="details" id="boom_and_bike">
        <div class="details_header">
            <a href="#boom_and_bike" class="boom_and_bike">
                Boom et vélo
            </a>
        </div>
        <div class="details_content_boom_and_bike">
            Aller au Boom en vélo, une aventure ma-gique :)
        </div>
    </div>
{% endblock %}