{% extends "info/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
<title>Boom Bike ~ {% trans "404 error" %}</title>
<meta name="description"
      content="{% trans 'boom_festival_meta_description' %}">
{% endblock %}

{% block content %}

<div class="article_style">
    <div id="article_title">
        <h2 class="boom_festival">
            {% trans "Testing 404" %}
        </h2>
    </div>
    <div id="article_content">
        <div class="left">
            <img src="{% static 'img/error.png' %}" alt=">" class="img64">
        </div>
        <div class="left">
            <p>{% trans "This page does not exist." %}</p>
            <p>
                {% trans "Unfortunately the requested page does not exist. Go to the" %}
                <a href="{% url 'home' %}">{% trans "Home" %}</a><br>
            </p>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
