{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block content %}
<div id="bicycle_touring_content" class="article_style">
    <div id="article_title">
        <h2>{% trans 'This page does not exist' %}</h2>
    </div>
    <div id="article_content">
        <div id="error_div">
            <img src="{% static 'img/error.png' %}" alt="{% trans 'Error' %}" class="img64 error">
            <p class="error">{% trans 'The requested page could not be found.' %}</p>
        </div>
    </div>
</div>
{% endblock %}
